section.fragments
	h3 What we wanted
	ul
		li Atomic design(like) aproach 
		li Eat your own dog food
		li Section/Details templates
		li Description templates
		li Usage templates
section.fragments
	h3 Technology
	ul
		li NodeJS
		li ExpressJs
		li Jade(Pug)