section.fragments
	h3 We wanted...
	aside.notes
		ul
			li Atomic design(like) aproach
			li Eat your own dog food
			li Section/Details templates
			li Description templates
			li Usage templates
			li build complex templates not possible with kss

section.fragments(data-transition='none', data-transition-speed='fast')
	h3 Why not using existing stuff??
	h4 Patternlab / SourceJs
	aside.notes
		ul
			li Not fitting our needs/requirements/preferred techstack
			li To many changes to existing stuff
			li Existing project quite close to realization
			li
section.fragments
	h3 Technology
	aside.notes
		ul
			li NodeJS
			li ExpressJs
			li Jade(Pug)