
section.fragments(data-transition='none', data-transition-speed='fast')
	h3 Why not using existing solutions?
	h4 Pattern Lab / SourceJs / KSS
	aside.notes
		ul
			li Not fitting our needs/requirements/preferred techstack
			li To many changes to existing stuff
			li Existing project quite close to realization
			li
section.fragments
	h3 Technology
	aside.notes
		ul
			li NodeJS
			li ExpressJs
			li Jade(Pug)
			li less