section.fragments
	h3 We wanted...
	aside.notes
		ul
			li Atomic design(like) aproach
			li Eat your own dog food
			li Section/Details templates
			li Description templates
			li Usage templates

section.fragments(data-transition='none', data-transition-speed='fast')
	h3 Why not using existing stuff??
	aside.notes
		p.left-align Not fitting our needs/requirements/preferred techstack
		p.left-align To many changes to existing stuff
		p.left-align Existing project quite close to realization
		p.left-align
section.fragments
	h3 Technology
	aside.notes
		ul
			li NodeJS
			li ExpressJs
			li Jade(Pug)