script(src="//localhost:35729/livereload.js")


style(type="text/css")
	.left-align {
		text-align: left;
	}
	.margin-top-2 {
		margin-top: 10px;
	}
include intro.jade
include why.jade
include fusion.jade
include whySelfmade.jade

include how.jade
include whatItDid.jade
include timetoshow.jade
include next.jade
include thanks.jade
