section
	h1 Thx...
	p q and a ...

	div(style="text-align: left")
		h5(style="margin-top: 40px; text-decoration: underline;") Slides:
		p  https://github.com/vanthoom/styleGuidePres

		h5(style="margin-top: 40px; text-decoration: underline;") Articles/Blogs:
		ul
			li http://bradfrost.com/blog/post/atomic-web-design/
			li https://www.smashingmagazine.com/2015/04/an-in-depth-overview-of-living-style-guide-tools/

		h5(style="margin-top: 40px; text-decoration: underline;") Pattern libraries / Style Guides:
		ul
			li http://patternlab.io/
			li https://sourcejs.com/
			li http://warpspire.com/kss/

