section
    h2 Time to show how it's working
    h3 convention over configuration...
    h6 folder and files
section.fragment
    h3 Details
    h4 (*_detail.jade)
    img(src='../assets/detailTemplate.png')
section.fragment
    h3 Descriptions
    h4 (*_description.jade)
    img(src='../assets/descriptionTemplate.png')
section.fragment
    h3 Context
    h4 (*_context.jade)
    img(src='../assets/contextTemplate.png')
section.fragment
    h3 Usages
    h4 (*_usage.jade)


