section
    h2 What the ... what's going on?
    h5 convention over configuration...
    h6 folders and files
section
    section(data-transition='fade-in fade-out')
        h3 Detail
        h4 (*_detail.jade)
        img(src='../assets/detailTemplate.png')
    section(data-transition='fade-in fade-out')
        h3 Description
        h4 (*_description.jade)
        img(src='../assets/descriptionTemplate.png')
    section(data-transition='fade-in fade-out')
        h3 Context
        h4 (*_context.jade)
        img(src='../assets/contextTemplate.png')
    section(data-transition='fade-in fade-out')
        h3 Usage
        h4 (*_usage.jade)

    section(data-transition='fade-in fade-out')
        h3 Show time
        aside.notes
            ul
                li example page
                li descriptions
                li dependencies stage
