section
	h3 jajaja, and what is it good for?
	img(src='../assets/haters.jpg')
	aside.notes
		ul
			li Dev/UX instantly started talking
			li Showed inconsistencies in Code and Designs
			li Increased understanding of things due to known naming
			li 
