section
	h2 How are patterns maintained/aligned/added?
	aside.notes
		ul
			li every one is in charge

section
	h2 Do you really need a style guide/pattern library?
	aside.notes
		ul
			li i don't know
			li Dev/UX instantly started talking
			li Showed inconsistencies in Code and Designs
			li Increased understanding of things due to known naming
