section
	section
		h3 WHY? Life is easy so far...
		img(src='../assets/lego1.jpg')
		aside.notes
			ul
				li.left-align chaos / ux / implementation
				li.left-align lack of documentation
				li.left-align avoid chaos and repetion in implementation
