section.fragment
	h3 Back in the days...
	h4 ... jan 2014
	aside.notes
		ul
			li we started a project
			li acted as our:
			li prototype/ js and css production framework

section.fragment
	img(src='../assets/messurements.png')

section.fragment
	img(src='../assets/lego1.jpg')
	aside.notes
		ul
			li.left-align chaos / ux / implementation
			li.left-align lack of documentation
			li.left-align avoid chaos and repetion in implementation
