section.fragment
    h3 Back in the day...
    h4 ... jan 2014 > introducing Bluesky
    aside.notes
        ul
            li we started a project
            li It's our:
            ul
                li html prototyping
                li js and css production framework
                li js templates

section.fragment
    h3 So what's your problem?
    img(src='../assets/lego1.jpg')
    aside.notes
        ul
            li chaos / ux / implementation
            li lack of documentation
            li avoid chaos and repetion in implementation
            li ease ramp up
            li concentrate on

section
    //h3 Do you know something like this?
    img(src='../assets/messurements.png')
    aside.notes
        ul
            li facing same questions all time
            li what font, color, margins, paddings, width, height
            li resource / communication intense

section
    section.fragment
        h3 We wanted...
        aside.notes
            ul
                li build modules and complex page templates
                li re-use modules
                li track dependencies
                li Eat your own dog food
    section.fragment
        h3 We've chosen...
        h4 ... atomic design
        small(style="margin-top: 50px;") but with:
        p styles, elements, components, modules, templates, screens
        p(style='position:absolute; right: -100px; bottom: -260px;') &laquo;Atomic design is a methodology for creating design systems.&raquo;
        p(style='position:absolute; right: -100px; bottom: -300px;')
            small (Brad Frost)
        aside.notes
            ul
                li Atomic design is methodology for creating design systems.
                li Atomic design(like) aproach
                li build a tool on our own

