section(data-transition='none', data-transition-speed='fast')
	.fragments
		h3 Why not using existing stuff??
		p.left-align Not fitting our needs/requirements/preferred techstack
		p.left-align To many changes to existing stuff
		p.left-align Existing project quite close to realization
		p.left-align 